.cirBox {
  max-width: 95%;
  border: 3px solid rgba(0, 0, 0, 0.445);
  margin: 0 auto;
  box-shadow: 0 0 15px 6px rgb(183,176,165);
  background-color: #e0dfdf9f;
  margin-bottom: 5.5rem;
  /* padding: 2rem; */
}

#circles{
  background-color: rgba(0, 0, 0, 0.582);
  margin: 8rem auto;
  width: 75%;
  display: 'flex';
  padding: 2.5rem 0;
  border: 3px solid rgba(0, 0, 0, 0.445);
  text-align: center;
  box-shadow:
    0 0 60px 30px rgb(230, 227, 224),  /* inner*/
    0 0 100px 60px rgb(54, 54, 54); /* middle*/
   
  
}



h2 {
  color: rgb(255, 255, 255);
}

