*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.App{
  background-image: url(./images/tree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; 
  min-height: 100%;
  /* background-blend-mode: normal; */
}

@media only screen and (max-device-width: 1366px) {
  .App {
    background-attachment: scroll;
    background-repeat: no-repeat;
  }
}