*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.App{
  background-image: url(./images/tree.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  min-height: 100%;
  /* background-blend-mode: normal; */
}