.proTit {
  color: rgb(255, 255, 255);
}

#pro {
  margin: auto;
  justify-content: center;
  align-self: center;
}

#projects {
  border: 3px solid rgba(0, 0, 0, 0.445);
    margin: 8rem auto;
  width: 80%;
  box-shadow: 0 0 15px 6px rgb(183,176,165);
  background-color: rgba(0, 0, 0, 0.582);
  color: rgba(0, 0, 0, 0.568);
  
}