.footer {
    width: 100%;
    box-shadow: 0 0 15px 14px rgba(0, 0, 0, 0.781);
    
    background-color: #212529;
}
h1, h6, p {
    color: rgb(212, 212, 211);
    background-color: rgba(0, 0, 0, 0);
}

Button {
    padding: 3rem;
}

.socialLinks {
    background-color: rgba(0, 0, 0, 0);
}

.fContent {
    background-color: rgba(0, 0, 0, 0.377);
}

#gitHuBFoo {
    height: min-content;
}
