h7 {
    background-color: rgba(124, 124, 124, 0.075);
    margin: 1rem auto;
    
}
.aboutMe {
    background-color: rgba(124, 124, 124, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.445);
    color: rgba(226, 226, 226, 0.767);
    margin: 4rem auto;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
};

.socialIcons {
    margin: 4rem auto;
    background-color: rgba(255, 0, 0, 0.795);
    border: maroon;
    border-width: 5px;
    border-style: solid;
}

.selfPic {
    height: 12rem;
    width: 7rem;
    opacity: 0.7;
    border: rgba(176, 196, 222, 0.26);
    box-shadow: oldlace;
    border-width: 2px;
    border-style: groove;
}


#gitHub {
    margin: 2rem;
    height: 6rem;
    background-color: rgba(124, 124, 124, 0.5);
}

#linkedIn {
    margin: 2rem; 
    background-color: rgba(124, 124, 124, 0.5);
}