.selfPic {
    object-fit: scale-down;
    max-width: 80%;
    max-height: 65vh;
}

#gitHub {
    margin: 2rem;
    height: 6rem;
    background-color: rgba(124, 124, 124, 0.5);
}

#linkedIn {
    margin: 2rem; 
    background-color: rgba(124, 124, 124, 0.5);
};

