/* h7 {
    background-color: rgba(124, 124, 124, 0.075);
    margin: 1rem auto;
    
} */
.aboutMe {
    background-color: rgba(0, 0, 0, 0.582);
    border: 3px solid rgba(0, 0, 0, 0.445);
    box-shadow: 0 0 15px 14px rgba(0, 0, 0, 0.507);
    color: rgb(255, 255, 255);
    margin: 4rem auto;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
};

.socialIcons {
    margin: 4rem auto;
    background-color: rgba(255, 0, 0, 0.795);
    border: maroon;
    border-width: 5px;
    border-style: solid;
}

.selfPic {
    height: 12rem;
    width: 7rem;
    opacity: 0.7;
    border: rgba(176, 196, 222, 0.26);
    box-shadow: oldlace;
    border-width: 2px;
    border-style: groove;
}


#gitHub {
    margin: 2rem;
    height: 6rem;
    background-color: rgba(124, 124, 124, 0.5);
}

#linkedIn {
    margin: 2rem; 
    background-color: rgba(124, 124, 124, 0.5);
}

/* #typeAni {
    width: 25%;
  animation: typing 3.5s steps(22), blink 1.0s step-end infinite alternate;
  white-space: normal;
  overflow: visible;
  border-right: 1px solid;
  font-size: 1 em;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    70% {
      border-color: transparent
    }
  } */